<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
     
        <div align="center"><h4 class="modal-title" id="myModalLabel">新規登録</h4></div>
      </div>
      <div class="modal-body">
	  <div align="center">

      <form class="form-signin" role="form">

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form"><strong>メールアドレス</strong><br />
  <%= f.email_field :email, :autofocus => true %></div><br>
	
	<div class="form"><strong>パスワード</strong><br />
  <%= f.password_field :password %></div><br>

  <div class="form"><strong>パスワード確認</strong><br />
  <%= f.password_field :password_confirmation %></div>

</div>
      </div>
      <div class="modal-footer">
 <div><%= f.submit "登録" %></div>
<% end %>      
</div>
