<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@submit.description) %>
</p>

<p>
  <strong>Language:</strong>
  <%= @submit.language %>
</p>

<p>
  <strong>Source:</strong>
  <%= simple_format(@submit.source) %>
</p>

<%= form_for([@submit, @submit.responses.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

